/.conda
/CasualModelSimpleQuestion1SentenceRetreavel.json
/ai_notebook.ipynb
/ai_notebook.pdf
/experiment2CasualModelParagraphRetreavel_1.json
/experiments
/experiments.txt
/main.py
/notes.md
/readme_uslovi_za_polaganje.md
/results.json
/results_simple_question.json
/results_simple_question_1.json
/results_simple_question_2.json
/results_simple_question_3.json